.choose__heading {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    margin-top: 100px;

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: var(--text);
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        color: var(-gray-title);
    }
}


.choose__btn {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    button {
        padding: 15px 20px;
        border-radius: 100px;
        border: none;
        transition: 0.3s ease;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        text-align: center;

        color: var(--text);

        &:hover {
            background: var(--btn-hover);
            color: var(--instagram-bgc);
        }
    }
}
